.DS_Store
.class
exercise1/.vscode/launch.json
exercise1/.vscode/tasks.json
exercise1/SimpleServerClient/Client.class
exercise1/SimpleServerClient/Server.class
exercise1/cpp/Main
exercise1/cpp/Main.cpp
exercise1/file.txt
exercise1/index.html
exercise1/oppg1/Calculator.class
exercise1/oppg1/Client.class
exercise1/oppg1/ClientHandler.class
exercise1/oppg1/Server.class
exercise1/oppg2/JavaHTTPServer.class
exercise1/oppg2/JavaHTTPServer.java
exercise1/oppg2/WebClient.class
exercise1/oppg2/WebClient.java
exercise1/oppg2/WebServer.class
exercise1/oppg2/test.class
exercise1/oppg2/test.java
exercise1/test.txt
exercise1/testsol/Client.class
exercise1/testsol/Client.java
exercise1/testsol/ClientHandler.class
exercise1/testsol/Server.class
exercise1/testsol/Server.java
exercise1/trying/Client1.class
exercise1/trying/Client1.java
exercise1/trying/Client2.class
exercise1/trying/Client2.java
exercise1/trying/Multi.class
exercise1/trying/Server.class
exercise1/trying/Server.java
exercise1/trying/WebServer.java
"exercise1/\303\230ving1-william.zip"
"\303\230ving2/.DS_Store"
"\303\230ving2/SSL-generate_keystore.docx"
"\303\230ving2/UDPcalculator/.DS_Store"
"\303\230ving2/UDPcalculator/UDPClient.class"
"\303\230ving2/UDPcalculator/UDPClient.java"
"\303\230ving2/UDPcalculator/UDPServer.class"
"\303\230ving2/UDPcalculator/UDPServer.java"
"\303\230ving2/asio/.DS_Store"
"\303\230ving2/asio/AsyncClient.java"
"\303\230ving2/asio/AsyncServer.java"
"\303\230ving2/asio/AsyncServerThread.java"
"\303\230ving2/asio/holt/AsyncSocketClient.class"
"\303\230ving2/asio/holt/AsyncSocketClient.java"
"\303\230ving2/asio/holt/AsyncSocketServerCompletionHandler$1.class"
"\303\230ving2/asio/holt/AsyncSocketServerCompletionHandler$ReadWriteHandler.class"
"\303\230ving2/asio/holt/AsyncSocketServerCompletionHandler.class"
"\303\230ving2/asio/holt/AsyncSocketServerCompletionHandler.java"
"\303\230ving2/multicast/MulticastPublisher.java"
"\303\230ving2/multicast/MulticastReceiver.java"
"\303\230ving2/ssl/JavaSSLClient.class"
"\303\230ving2/ssl/JavaSSLClient.java"
"\303\230ving2/ssl/JavaSSLServer.class"
"\303\230ving2/ssl/JavaSSLServer.java"
"\303\230ving2/ssl/examplestore"
"\303\230ving2/ssl/tls-meldinger.pcapng"
"\303\230ving2/\303\270ving2-ssl-tsl.docx"
"\303\230ving3/Prime.cpp"
"\303\230ving3/Primes"
"\303\230ving3/Primes.cpp"
"\303\230ving3/ThreadFuncPointer.cpp"
"\303\230ving3/ThreadFunctors"
"\303\230ving3/ThreadFunctors.cpp"
"\303\230ving3/ThreadLambda"
"\303\230ving3/ThreadLambda.cpp"
"\303\230ving4/.DS_Store"
"\303\230ving4/.vscode/launch.json"
"\303\230ving4/.vscode/settings.json"
"\303\230ving4/.vscode/tasks.json"
"\303\230ving4/Workers"
"\303\230ving4/Workers.hpp"
"\303\230ving4/WorkersTest"
"\303\230ving4/WorkersTest.hpp"
"\303\230ving4/main"
"\303\230ving4/main.cpp"
"\303\230ving4/main.dSYM/Contents/Info.plist"
"\303\230ving4/main.dSYM/Contents/Resources/DWARF/main"
"\303\230ving4/trying"
"\303\230ving4/trying.cpp"
