.DS_Store
.class
.zip
dockerfile-example/Dockerfile
dockerfile-example/HelloWorld.cpp
exercise1/.vscode/launch.json
exercise1/.vscode/tasks.json
exercise1/SimpleServerClient/Client.class
exercise1/SimpleServerClient/Server.class
exercise1/cpp/Main
exercise1/cpp/Main.cpp
exercise1/file.txt
exercise1/index.html
exercise1/oppg1/Calculator.class
exercise1/oppg1/Client.class
exercise1/oppg1/ClientHandler.class
exercise1/oppg1/Server.class
exercise1/oppg2/JavaHTTPServer.class
exercise1/oppg2/JavaHTTPServer.java
exercise1/oppg2/WebClient.class
exercise1/oppg2/WebClient.java
exercise1/oppg2/WebServer.class
exercise1/oppg2/test.class
exercise1/oppg2/test.java
exercise1/test.txt
exercise1/testsol/Client.class
exercise1/testsol/Client.java
exercise1/testsol/ClientHandler.class
exercise1/testsol/Server.class
exercise1/testsol/Server.java
exercise1/trying/Client1.class
exercise1/trying/Client1.java
exercise1/trying/Client2.class
exercise1/trying/Client2.java
exercise1/trying/Multi.class
exercise1/trying/Server.class
exercise1/trying/Server.java
exercise1/trying/WebServer.java
"exercise1/\303\230ving1-william.zip"
exercise2/SSL-generate_keystore.docx
exercise2/UDPcalculator/UDPClient.class
exercise2/UDPcalculator/UDPServer.class
exercise2/asio/holt/AsyncSocketClient.class
exercise2/asio/holt/AsyncSocketClient.java
exercise2/asio/holt/AsyncSocketServerCompletionHandler$1.class
exercise2/asio/holt/AsyncSocketServerCompletionHandler$ReadWriteHandler.class
exercise2/asio/holt/AsyncSocketServerCompletionHandler.class
exercise2/asio/holt/AsyncSocketServerCompletionHandler.java
exercise2/ssl/JavaSSLClient.class
exercise2/ssl/JavaSSLServer.class
exercise2/ssl/examplestore
exercise2/ssl/tls-meldinger.pcapng
"exercise2/\303\270ving2-ssl-tsl.docx"
exercise3/Prime.cpp
exercise3/Primes
exercise3/ThreadFuncPointer.cpp
exercise3/ThreadFunctors
exercise3/ThreadFunctors.cpp
exercise3/ThreadLambda
exercise3/ThreadLambda.cpp
exercise4/.vscode/launch.json
exercise4/.vscode/settings.json
exercise4/.vscode/tasks.json
exercise4/main
exercise4/main.dSYM/Contents/Info.plist
exercise4/main.dSYM/Contents/Resources/DWARF/main
exercise4/trying_juci/.cache/clangd/index/Workers.hpp.CDCC5221C7C65580.idx
exercise4/trying_juci/.cache/clangd/index/main.cpp.F6B1AF32C12C327E.idx
exercise4/trying_juci/.clang-format
exercise4/trying_juci/CMakeCache.txt
exercise4/trying_juci/CMakeFiles/3.19.3/CMakeCCompiler.cmake
exercise4/trying_juci/CMakeFiles/3.19.3/CMakeCXXCompiler.cmake
exercise4/trying_juci/CMakeFiles/3.19.3/CMakeDetermineCompilerABI_C.bin
exercise4/trying_juci/CMakeFiles/3.19.3/CMakeDetermineCompilerABI_CXX.bin
exercise4/trying_juci/CMakeFiles/3.19.3/CMakeSystem.cmake
exercise4/trying_juci/CMakeFiles/3.19.3/CompilerIdC/CMakeCCompilerId.c
exercise4/trying_juci/CMakeFiles/3.19.3/CompilerIdC/CMakeCCompilerId.o
exercise4/trying_juci/CMakeFiles/3.19.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
exercise4/trying_juci/CMakeFiles/3.19.3/CompilerIdCXX/CMakeCXXCompilerId.o
exercise4/trying_juci/CMakeFiles/CMakeDirectoryInformation.cmake
exercise4/trying_juci/CMakeFiles/CMakeError.log
exercise4/trying_juci/CMakeFiles/CMakeOutput.log
exercise4/trying_juci/CMakeFiles/Makefile.cmake
exercise4/trying_juci/CMakeFiles/Makefile2
exercise4/trying_juci/CMakeFiles/TargetDirectories.txt
exercise4/trying_juci/CMakeFiles/cmake.check_cache
exercise4/trying_juci/CMakeFiles/progress.marks
exercise4/trying_juci/CMakeFiles/trying_juci.dir/CXX.includecache
exercise4/trying_juci/CMakeFiles/trying_juci.dir/DependInfo.cmake
exercise4/trying_juci/CMakeFiles/trying_juci.dir/build.make
exercise4/trying_juci/CMakeFiles/trying_juci.dir/cmake_clean.cmake
exercise4/trying_juci/CMakeFiles/trying_juci.dir/depend.internal
exercise4/trying_juci/CMakeFiles/trying_juci.dir/depend.make
exercise4/trying_juci/CMakeFiles/trying_juci.dir/flags.make
exercise4/trying_juci/CMakeFiles/trying_juci.dir/link.txt
exercise4/trying_juci/CMakeFiles/trying_juci.dir/main.cpp.o
exercise4/trying_juci/CMakeFiles/trying_juci.dir/progress.make
exercise4/trying_juci/CMakeLists.txt
exercise4/trying_juci/Makefile
exercise4/trying_juci/Workers.hpp
exercise4/trying_juci/build/.usages_clang/Workers.hpp.usages
exercise4/trying_juci/build/.usages_clang/epoll.cpp.usages
exercise4/trying_juci/build/.usages_clang/main.cpp.usages
exercise4/trying_juci/build/CMakeCache.txt
exercise4/trying_juci/build/CMakeFiles/3.19.3/CMakeCCompiler.cmake
exercise4/trying_juci/build/CMakeFiles/3.19.3/CMakeCXXCompiler.cmake
exercise4/trying_juci/build/CMakeFiles/3.19.3/CMakeDetermineCompilerABI_C.bin
exercise4/trying_juci/build/CMakeFiles/3.19.3/CMakeDetermineCompilerABI_CXX.bin
exercise4/trying_juci/build/CMakeFiles/3.19.3/CMakeSystem.cmake
exercise4/trying_juci/build/CMakeFiles/3.19.3/CompilerIdC/CMakeCCompilerId.c
exercise4/trying_juci/build/CMakeFiles/3.19.3/CompilerIdC/CMakeCCompilerId.o
exercise4/trying_juci/build/CMakeFiles/3.19.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
exercise4/trying_juci/build/CMakeFiles/3.19.3/CompilerIdCXX/CMakeCXXCompilerId.o
exercise4/trying_juci/build/CMakeFiles/CMakeDirectoryInformation.cmake
exercise4/trying_juci/build/CMakeFiles/CMakeError.log
exercise4/trying_juci/build/CMakeFiles/CMakeOutput.log
exercise4/trying_juci/build/CMakeFiles/Makefile.cmake
exercise4/trying_juci/build/CMakeFiles/Makefile2
exercise4/trying_juci/build/CMakeFiles/Progress/1
exercise4/trying_juci/build/CMakeFiles/Progress/count.txt
exercise4/trying_juci/build/CMakeFiles/TargetDirectories.txt
exercise4/trying_juci/build/CMakeFiles/cmake.check_cache
exercise4/trying_juci/build/CMakeFiles/progress.marks
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/CXX.includecache
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/DependInfo.cmake
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/build.make
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/cmake_clean.cmake
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/depend.internal
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/depend.make
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/flags.make
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/link.txt
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/main.cpp.o
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/multithreading_so.cpp.o
exercise4/trying_juci/build/CMakeFiles/trying_juci.dir/progress.make
exercise4/trying_juci/build/Makefile
exercise4/trying_juci/build/cmake_install.cmake
exercise4/trying_juci/build/compile_commands.json
exercise4/trying_juci/build/trying_juci
exercise4/trying_juci/cmake_install.cmake
exercise4/trying_juci/compile_commands.json
exercise4/trying_juci/epoll
exercise4/trying_juci/epoll.cpp
exercise4/trying_juci/main
exercise4/trying_juci/main.cpp
exercise4/trying_juci/multithreading_so.cpp
"exercise4/\303\270ving4-william.zip"
exercise5/backend-js/.vscode/settings.json
exercise5/backend-js/Dockerfile
exercise5/backend-js/main.cpp
exercise5/backend-js/server.js
exercise5/backend-spring/compiler.zip
exercise5/backend-spring/compiler/.gitignore
exercise5/backend-spring/compiler/.mvn/wrapper/MavenWrapperDownloader.java
exercise5/backend-spring/compiler/.mvn/wrapper/maven-wrapper.jar
exercise5/backend-spring/compiler/.mvn/wrapper/maven-wrapper.properties
exercise5/backend-spring/compiler/mvnw
exercise5/backend-spring/compiler/mvnw.cmd
exercise5/frontend/.vscode/settings.json
exercise5/frontend/package-lock-DESKTOP-NB80RPF.json
exercise5/frontend/package-lock.json
exercise6/.vscode/settings.json
exercise6/testing-example/index.html
exercise6/testing-example/server.js
exercise6/testing-example/servertest.js
exercise2/asio/AsyncClient.class
exercise2/asio/AsyncServer.class
exercise2/asio/AsyncServerThread.class
exercise5/backend-spring/compiler/.classpath
exercise5/backend-spring/compiler/.idea/.gitignore
exercise5/backend-spring/compiler/.idea/compiler.xml
exercise5/backend-spring/compiler/.idea/encodings.xml
exercise5/backend-spring/compiler/.idea/jarRepositories.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_20.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_20.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_43.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_43.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_assertj_assertj_core_3_18_1.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_1.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_1.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_1.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_1.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_1.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_1.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_mockito_mockito_core_3_6_28.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_6_28.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_objenesis_objenesis_3_1.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_4_3.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_spring_aop_5_3_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_spring_beans_5_3_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_spring_context_5_3_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_spring_core_5_3_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_spring_expression_5_3_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_spring_test_5_3_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_spring_web_5_3_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_4.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
exercise5/backend-spring/compiler/.idea/libraries/Maven__org_yaml_snakeyaml_1_27.xml
exercise5/backend-spring/compiler/.idea/misc.xml
exercise5/backend-spring/compiler/.idea/modules.xml
exercise5/backend-spring/compiler/.idea/vcs.xml
exercise5/backend-spring/compiler/.project
exercise5/backend-spring/compiler/.settings/org.eclipse.core.resources.prefs
exercise5/backend-spring/compiler/.settings/org.eclipse.jdt.apt.core.prefs
exercise5/backend-spring/compiler/.settings/org.eclipse.jdt.core.prefs
exercise5/backend-spring/compiler/.settings/org.eclipse.m2e.core.prefs
exercise5/backend-spring/compiler/compiler.iml
exercise5/backend-spring/compiler/target/classes/Dockerfile
exercise5/backend-spring/compiler/target/classes/William/docker/compiler/CompilerApplication.class
exercise5/backend-spring/compiler/target/classes/William/docker/compiler/controller/CorsConfig.class
exercise5/backend-spring/compiler/target/classes/William/docker/compiler/controller/CppProgramController.class
exercise5/backend-spring/compiler/target/classes/William/docker/compiler/model/CppProgram.class
exercise5/backend-spring/compiler/target/classes/William/docker/compiler/repo/CppProgramRepo.class
exercise5/backend-spring/compiler/target/classes/William/docker/compiler/service/CppProgramService.class
exercise5/backend-spring/compiler/target/classes/docker-script.sh
exercise5/backend-spring/compiler/target/classes/main.cpp
exercise5/backend-spring/compiler/target/test-classes/William/docker/compiler/CompilerApplicationTests.class
exercise6/exercise6-william.zip
