* {
  font-style: italic;
  margin: 10px;
}
div {
  height: 500px;
  align-items: center;
  justify-content: center;
  font-style: italic;
  margin: 10px;
  margin-left: 2px;
}

.grid-style {
  display: grid;
}

.textArea {
  width: 400px;
}

.border{
  border-style: solid;
  border-width: 2px;
  border-color: #add8e6;
}

.output{
  width: 400px;
  height: 200px;
}
